__pycache__
**/__pycache__
.ipynb_checkpoints
.ipynb_checkpoints/*
**/.ipynb_checkpoints
**/.jupyter
**/.local
dragon_dataset/
htmls/
iframe_figures/
llm_data/
pdfs/
RAGEval/
testing_docs/
*.pkl
benchmark_results/
experiments/
storage/
experiments/
ai_cube_gen_ai/RAGEval/dragonball_dataset/
ai_cube_gen_ai/RAGEval/assets/
benchmark_results/RAGEval/Dragon_Ball/**/*.jsonl
scratch/
**/**/warnings.log
output_mermaid.png
faiss_index
src/models/
data_ingestion/output/
install_ssh.sh
weights/

